body {
  margin: 0px;
  background-color: antiquewhite;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.image {
  background-color: #fcbc64;
  flex: 1;
}
.signup {
  background-color: #de6463;
  flex: 2;
}
