body {
  margin: 0px;
  background-color: antiquewhite;
}
.right-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.image {
  background-image: url(Files/maria-orlova-2O7TNAWTrPg-unsplash.jpg);
  position: relative;
  background-size: cover;
  flex: 1.5;
}
.signup {
  background-color: #de6463;
  flex: 2;
}
